body {
    background-color: #2730b8;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* Prevent scrolling on the body */
}

canvas {
    display: block;
    /* Remove any default whitespace */
    margin: auto;
    /* Center the canvas */
    border: 2px solid #000;
    /* Add a border to the canvas */
    height: 50%;
    width: 50%;

}